name: Achievements
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: Schweinepriester/github-profile-achievements@master  # DÜZELTME: @v1 yerine @master yaptık
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: baloglu321
          commit: true
          AM_PM: false
          skin: flat
